.container {
  max-width: 1920px;
  margin: 0 auto;
}
/* Header */
.header {
  background: var(--color-primary);
}

.header__wrapper {
  max-width: 1392px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.header__logo {
  text-decoration: none;
  color: var(--color-white);
  line-height: 140%;
  font-size: var(--text-36);
  font-weight: var(--font-black);
}

/* Menu */
.menu__list {
  list-style: none;
  display: flex;
  gap: 32px;
}

.menu__link {
  text-decoration: none;
  color: var(--color-menu-link);
  font-size: var(--text-18);
  font-weight: var(--font-medium);
}

.menu__link:hover {
  color: var(--color-white);
}

.section {
  position: relative;
}

/* Section */
.section__wrapper {
  max-width: 1392px;
  margin: 0 auto;
}

.section--primary {
  background: var(--color-primary);
}

.section__title {
  font-size: var(--text-48);
  color: var(--color-text);
  text-align: center;
  font-weight: var(--font-semi-bold);
  margin-bottom: 24px;
}

.section__title--invert {
  color: var(--color-white);
}

.section__description {
  font-size: var(--text-17);
  color: var(--color-grey);
  text-align: center;
  margin-bottom: 40px;
}

.section__description--invert {
  color: var(--color-menu-link);
}

@media (max-width: 500px) {
  .section__title {
    text-align: left;
    padding: 0 24px;
    margin-bottom: 24px;
  }
  .section__description {
    text-align: left;
    padding: 0 24px;
    margin-bottom: 32px;
  }
}

/* Table */
.table {
  border-collapse: collapse;
  width: 100%;
}
.table__cell {
  position: relative;
}
.table__sell--highlighted {
  color: var(--color-white);
  font-size: var(--text-17);
  font-weight: var(--font-bold);
  padding: 8px 16px;
  background: var(--color-highlighted);
  border: none;
  border-radius: var(--radius-8);
  position: absolute;
  top: 8px;
  left: -16px;
}
.table .table__cell {
  padding: 16px 0;
  border-bottom: 1px solid var(--color-grey-light);
}

.table__cell.table__cell--primary {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.table .table__row:last-child .table__cell {
  border-bottom: none;
}

@media (max-width: 1250px) {
  .table__sell--highlighted {
    font-size: var(--text-10);
    font-weight: var(--font-semi-bold);
  }
}

@media (max-width: 1000px) {
  .table__sell--highlighted {
    font-size: var(--text-17);
    font-weight: var(--font-bold);
  }
}

/* Button */
.button {
  background: var(--color-white);
  border: none;
  border-radius: var(--radius-47);
  padding: 12px 32px;
  font-size: var(--text-17);
  font-weight: var(--font-extra-bold);
  color: var(--color-primary);
}

.button--12x64 {
  padding: 12px 64px;
}

.button--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

@media (max-width: 1250px) {
  .button {
    font-size: var(--text-15);
  }
}

/* Text */
.text--semi_bold {
  font-weight: var(--font-semi-bold);
}
.text--extra_bold {
  font-weight: var(--font-extra-bold);
}

.text--uppercase {
  text-transform: uppercase;
}
