html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Inter", sans-serif;
}

:root {
  --color-primary: #357efe;
  --color-grey-light: #f1f2f5;
  --color-grey: #a6aebd;
  --color-grey-dark: #4e5d7c;
  --color-white: #fff;
  --color-tag: #1abc9c;
  --color-highlighted: #ffc736;

  --color-text: #000;
  --color-text-invert: #fff;
  --radius-8: 8px;
  --radius-47: 47px;

  --text-15: 0.938rem;
  --text-17: 1.063rem;
  --text-32: 2rem;
  --text-48: 3rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
}

.text--semi_bold {
  font-weight: var(--font-semi-bold);
}
.text--extra_bold {
  font-weight: var(--font-extra-bold);
}
